<div class="container mt-4">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3" [@listAnim]>
    @for (note of notes; track note) {
      <app-note-card
        class="col"
        [link]="note.id + '/edit'"
        [@itemAnim]
        (delete)="deleteNote(note)"
        [title]=" note.title"
        [body]="note.body"
      ></app-note-card>
    }
  </div>
  <div class="d-flex justify-content-center"> 
    <button color="primary" class="button floating-add-button" routerLink="create" mat-raised-button>+ Add</button>
  </div>
</div>