<div class="h-75 d-flex align-items-center">
  <div class="container">

    <form [formGroup]="form" (ngSubmit)="onSubmit()">

      <div class="row justify-content-center">
        <div class="col-10 col-sm-8 col-lg-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Pick a title</mat-label>
            <input matInput placeholder="New Note" formControlName="title" required>
            @if (title?.hasError('required')) {
              <mat-error>Title is <strong>required</strong></mat-error>
            }
          </mat-form-field>
        </div>
      </div>

      <br>

      <div class="row justify-content-center">
        <div class="col-10 col-sm-8 col-lg-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Need more sleep...</mat-label>
            <textarea matInput class="h-100 body" formControlName="body"></textarea>
            @if (body?.hasError('required')) {
              <mat-error>Body is <strong>required</strong></mat-error>
            }
          </mat-form-field>
        </div>
      </div>

      <div class="field action-container">
        <div class="control">
          <button mat-raised-button color="primary" class="button is-success" type="submit">Save</button>
        </div>
        <div class="control">
          <button mat-raised-button color="warn" class="button is-text" type="button" (click)="cancel()">Cancel</button>
        </div>
      </div>

    </form>

  </div>
</div>