.note-card-container {
  position: relative;
  height: 200px;

  background: white;
  border-radius: 5px;

  box-shadow: 0px 2px 15px 2px rgba(black, 0.068);
  transition: all 0.2s ease-in-out;

  &:hover {
      transform: scale(1.05);
      cursor: pointer;
      box-shadow: 0px 0px 0px 4px rgba(black, 0.1);

      .x-button {
          opacity: 1;
          transform: scale(1);
          transition-delay: 0.35s;
      }
  }
  
  .note-card-content {
      padding: 25px;

      .note-card-body {
          position: relative;

          color: #555;
          max-height: 80px;
          overflow: hidden;
      }
  }
}

.x-button {
  position: absolute;
  top: 12px;
  right: 12px;
  background-color: red;
  transition: opacity 0.2s ease-out, transform 0.2s ease-out;
  opacity: 0;
  transform: scale(0.35);

  &:hover {
      background-color: darken(red, 2%);
  }

  &:active {
      background-color: darken(red, 4%);
  }
}