<mat-card class="note-card-container" [routerLink]="link">
  <mat-card-header>
    <mat-card-title>{{ title }}</mat-card-title>
  </mat-card-header>
  <mat-card-content class="note-card-content">
    <div class="note-card-body">
      <p>{{ body | truncate: 30 }}</p>
    </div>
  </mat-card-content>
  <button class="x-button" (click)="onDelete($event)" mat-mini-fab>
    <mat-icon>close</mat-icon>
  </button>
</mat-card>